{% extends "base.html" %} {% block content %}
<h1>{{ page.title }}</h1>
{%- include "partials/statements.html" -%} {%- if page.extra.toc and not
page.extra.toc_sidebar -%} {%- include "partials/toc.html" -%} {%- endif -%} {{
page.content | safe }}
<script type="module">
  import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";
  import elkLayouts from "https://cdn.jsdelivr.net/npm/@mermaid-js/layout-elk@0/dist/mermaid-layout-elk.esm.min.mjs";
  // load and register the engine
  mermaid.registerLayoutLoaders(elkLayouts);
  mermaid.initialize({ startOnLoad: true });
</script>
{% endblock content %}
